@import './TextField.scss';
@import './Switch.scss';
@import './Checkbox.scss';
@import './RadioButtons.scss';
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/beach.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.container {
		width: 700px;
		height: 500px;
		display: flex;
		flex-wrap: wrap;
		border: solid 1px lightgray;
		border-radius: 10px;
		backdrop-filter: blur(3px);

		&__corona {
			width: 50%;
			height: 100%;
			box-sizing: border-box;
			background-image: url("../images/corona.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 30%;
		}

		&__content {
			width: 50%;
			height: 100%;
			box-sizing: border-box;
			border-right: solid 1px lightgray;
			display: flex;
			align-items: center;
			flex-direction: column;

			.buttons {
				width: 70%;
				height: 20%;
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: row;
			}

			.button {
				width: 64px;
				height: 36px;
				background-color: white;
				outline: none;
				border: none;
				border-radius: 5px;
				font-family: 'Rubik', sans-serif;
				font-size: 14px;
				color: #2e7ca8;
				transition: all .2s ease;

				&:hover {
					box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.75);
					transform: scale(1.1);
				}
			}

			& h1 {
				color: #2e7ca8;
				font-family: 'Rubik', sans-serif;
			}
		}
	}
}
